ADVERTISED_URL=https://diogenes1oliveira.github.io/markdown-intercom/
DEV_IDES=code,cursor
DEV_ADHOC_VSIX_URLS=https://github.com/diogenes1oliveira/vscode-just/releases/download/v0.9.1/vscode-just-syntax-0.9.1.vsix
DEV_USERNAME=diogenes1oliveira
